.App {
  position: relative;
}

.App .home-header {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #4accdb;
  text-align: center;
}


.App .home-header:hover {
  transition: 250ms ease-in-out;
  color: #329fac;
}

#dark .home-header {
  color: white;
}